{% extends "layout.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block title %}
    333
{% endblock %}
{% block header %}
    <style>
        .classify {
            margin: 30px 20px;
        }

        .table td {
            height: 60px;
            line-height: 60px !important;
        }
        tbody tr,.table tbody td{
            height: 200px;
            line-height: 200px !important;
        }
        td img {
            height: 200px;
            width: 200px;
        }
    </style>
{% endblock %}


{% block text %}

    <div class="container">

        <div class="row">
            <form action="">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" aria-label="..." name="k">
                <div class="input-group-btn">
                    <!-- Buttons -->
                    <button type="submit" class="btn btn-default dropdown-toggle">搜索</button>
                </div>
            </div>
                                </form>

        </div>
        <div class="row ">
            <div class="classify">
            <span>
                任务发布:
                {% for foo in wts %}
                    <a href="?worktype={{ foo.id }}">{{ foo.name }}</a>
                {% endfor %}

            </span>
            </div>

        </div>
        <div class="content">
            <table class="table table-hover">

                <tbody>
                {% if pagination.total == 0 %}
                    <tr><th colspan="7" style="text-align: center">暂无相关任务</th></tr>
                {% endif %}
                {% for index, foo in enumerate(pagination.items, start=1) %}
                    <tr>
                    <td><img src="{{ foo.images[0] }}" alt=""></td>
                    <td>{{ foo.title }}</td>
                    <td>
                        {{ foo.work_type_name }}
                    </td>
                    <td>{{ foo.work_time }} 天 </td>
                    <td>{{ foo.price }} 元 </td>
                    <td>{{ foo.status_name }}</td>
                    <td>
                    <a href="{{ url_for("customer_main.index_task_detail", tid=foo.id) }}">
                     查看
                    </a>
                    </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="translation">
                <div class="">
                    {{ render_pagination(pagination) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block script %}
    <script>

    </script>
{% endblock %}