{% extends "layout.html" %}
{% block title%}
    333
{% endblock%}
{% block header %}
{% endblock %}


{% block content %}
   <nav class="navbar navbar-inverse ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HoMe＇Decoration</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{url_for('.index')}}">首页 <span class="sr-only">(current)</span></a></li>
{#                <li><a href="{{url_for('article.add')}}">发表博客</a></li>#}
{#                <li><a href="{{url_for('blog.uall')}}">显示用户</a></li>#}
{#                <li><a href="{{url_for('blog.test')}}">测试钩子函数</a></li>#}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="">欢迎 {{current_user.username}}</a></li>
                <li><a href="">123</a></li>
                    {% if current_user.is_worker %}
                        <li><a href="">我的工单</a></li>
                    {% endif %}
                <li><a href="{{url_for('admin.logout')}}">退出登录</a></li>
                {% else%}
                <li><a href="{{url_for('admin.login')}}">登录</a></li>
                <li><a href="{{url_for('admin.register')}}" class="pop_layer" title="注册">注册</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <div class="container">

    <div class="row">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" aria-label="...">
          <div class="input-group-btn">
            <!-- Buttons -->
             <button type="button" class="btn btn-default dropdown-toggle">搜索</button>
          </div>
        </div>
    </div>


    </div>
{% endblock %}


{% block script%}
<script>

</script>
{% endblock%}