{% extends "layout_base.html" %}
{% block title%}
123
{% endblock%}
{% block header %}
    <link href="{{ url_for('static', filename='css/style1.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}

                    <div class="" id="style-1">
                        <div class="activity-row">
                            <div class="col-xs-3 activity-img"><img src='images/1.jpg' class="img-responsive" alt=""/>
                            </div>
                            <div class="col-xs-7 activity-desc">
                                <h5><a href="#">Michael Chris</a></h5>
                                <p>Hey ! There I'm available.</p>
                            </div>
                            <div class="col-xs-2 activity-desc1"><h6>12:05 PM</h6></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="activity-row">
                            <div class="col-xs-3 activity-img"><img src='images/4.jpg' class="img-responsive" alt=""/>
                            </div>
                            <div class="col-xs-7 activity-desc">
                                <h5><a href="#">Alexander</a></h5>
                                <p>Hey ! There I'm available.</p>
                            </div>
                            <div class="col-xs-2 activity-desc1"><h6>12:06 PM</h6></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="activity-row">
                            <div class="col-xs-3 activity-img"><img src='images/3.jpg' class="img-responsive" alt=""/>
                            </div>
                            <div class="col-xs-7 activity-desc">
                                <h5><a href="#">Daniel Lucas</a></h5>
                                <p>Hey ! There I'm available.</p>
                            </div>
                            <div class="col-xs-2 activity-desc1"><h6>01:30 PM</h6></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="activity-row">
                            <div class="col-xs-3 activity-img"><img src='images/2.jpg' class="img-responsive" alt=""/>
                            </div>
                            <div class="col-xs-7 activity-desc">
                                <h5><a href="#">Jackson Jacob</a></h5>
                                <p>Hey ! There I'm available.</p>
                            </div>
                            <div class="col-xs-2 activity-desc1"><h6>01:50 PM</h6></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="activity-row">
                            <div class="col-xs-3 activity-img"><img src='images/1.jpg' class="img-responsive" alt=""/>
                            </div>
                            <div class="col-xs-7 activity-desc">
                                <h5><a href="#">David Samuel</a></h5>
                                <p>Hey ! There I'm available.</p>
                            </div>
                            <div class="col-xs-2 activity-desc1"><h6>12:20 PM</h6></div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="activity-row">
                            <div class="col-xs-3 activity-img"><img src='images/4.jpg' class="img-responsive" alt=""/>
                            </div>
                            <div class="col-xs-7 activity-desc">
                                <h5><a href="#">laura Smith</a></h5>
                                <p>Hey ! There I'm available.</p>
                            </div>
                            <div class="col-xs-2 activity-desc1"><h6>12:50 PM</h6></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            <div class="clearfix"></div>

{% endblock %}


{% block script %}
    <script>

    </script>
{% endblock %}
