{% extends "layout_base.html" %}
{% block title%}
123
{% endblock%}
{% block header %}
    <link href="{{ url_for('static', filename='css/style1.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
    <style>
        .activity-img img {
            width: 50px;
        }
    </style>
{% endblock %}

{% block content %}

                    <div class="" id="style-1">

                        {% for foo in users %}
                        <div class="activity-row">

                            <div class="col-xs-3 activity-img"><img src='{{ url_for("static",filename='images/avatar.jpg') }}' class="img-responsive" alt=""/>
                            </div>

                            <div class="col-xs-7 activity-desc">
                                <a href="{{ url_for('customer_main.message',uid=foo.id) }}">
                                    <h5>{{ foo.username }}</h5>
                                    <p>Hey ! There I'm available.</p>
                                </a>
                            </div>
                            <div class="col-xs-2 activity-desc1"><h6>12:05 PM</h6></div>


                            <div class="clearfix"></div>
                        </div>
                        {% endfor %}



                    </div>
            <div class="clearfix"></div>

{% endblock %}


{% block script %}
    <script>

    </script>
{% endblock %}
