{% extends "layout.html" %}
{% block title %}
    333
{% endblock %}
{% block header %}
    <style>
        .classify {
            margin: 30px 20px;
        }

        .table td {
            height: 60px;
            line-height: 60px !important;
        }
    </style>
{% endblock %}


{% block text %}

    <div class="container">
        <div class="row ">
            <div class="classify">
            <span>
                <a href="{{url_for('customer_main.task_add')}}" type="button" class="btn btn-link">添加任务</a>
            </span>
            <span>
                <a href="" type="button" class="btn btn-primary">查看进行中的任务</a>
            </span>
            <span>
                <a href="" type="button" class="btn btn-danger">查看已完成的任务</a>
            </span>
            </div>
        </div>
        <div class="row">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" aria-label="...">
                <div class="input-group-btn">
                    <!-- Buttons -->
                    <button type="button" class="btn btn-default dropdown-toggle">搜索</button>
                </div>
            </div>
        </div>

        <div class="content">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>学习组名称</th>
                    <th>学习导师</th>
                    <th>管理员</th>
                    <th>学习时间</th>
                    <th>人员总数</th>
                    <th>状态</th>
                    <th>是否包含考试</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>123123</td>
                    <td>123123</td>
                    <td>123123</td>
                    <td>123123</td>
                    <td>123123</td>
                    <td>123123</td>
                    <td>123123</td>
                    <td>123123</td>
                    <td>123123</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}


{% block script %}
    <script>

    </script>
{% endblock %}