{% extends "layput_backend.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block headers %}
    <link href="{{ url_for('static', filename='css/style1.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
    <style>
    .content{
        margin-top: 20px;
        background-color: #fff;
    }
    </style>
{% endblock %}

{% block texts %}


    <div class="main-page">
{#        <div class="col_3">#}
{#            <div class="col-md-3 widget widget1">#}
{#                <div class="r3_counter_box">#}
{#                    <i class="pull-left fa  fa-envelope-o icon-rounded"></i>#}
{#                    <div class="stats">#}
{#                        <h5><strong>$452</strong></h5>#}
{#                        <span>Total Revenue</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 widget widget1">#}
{#                <div class="r3_counter_box">#}
{#                    <i class="pull-left fa fa-laptop user1 icon-rounded"></i>#}
{#                    <div class="stats">#}
{#                        <h5><strong>$1019</strong></h5>#}
{#                        <span>Online Revenue</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="col-md-3 widget widget1">
                <div class="r3_counter_box">
                    <i class="pull-left fa fa-bell-o user1 icon-rounded"></i>
                    <div class="stats">
                        <h5><strong>（{{ jieyue }}）</strong></h5>
                        <span><a href="?status=-2">解约待办</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 widget widget1">
                <div class="r3_counter_box">
                    <i class="pull-left fa fa-pie-chart dollar1 icon-rounded"></i>
                    <div class="stats">
                        <h5><strong>（{{ doing }}）</strong></h5>
                        <span><a href="?status=1">进行的任务</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 widget">
                <div class="r3_counter_box">
                    <i class="pull-left fa fa-users dollar2 icon-rounded"></i>
                    <div class="stats">
                        <h5><strong>（{{ succ }}）</strong></h5>
                        <span><a href="?status=2">已完成的任务</a></span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>标题</th>
                    <th>工种</th>
                    <th>工期</th>
                    <th>发布人</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% if pagination.total == 0 %}
                    <tr><th colspan="7" style="text-align: center">暂无相关任务</th></tr>
                {% endif %}
                {% for index, foo in enumerate(pagination.items, start=1) %}
                    <tr>
                    <th>{{ (request.args.get('page',1)|int - 1 ) * 20 + index }}</th>
                    <th>{{ foo.title }}</th>
                    <th>
                        {{ foo.work_type_name }}
                    </th>
                    <th>{{ foo.work_time }} 天 </th>
                    <th><a  href="{{url_for('customer_main.message',uid=foo.user.id)}}" w="38%" h="700px" scrollbar="1" title="消息" class="pop_layer">{{ foo.user.username }} </a></th>
                    <th>{{ foo.status_name }}</th>
                    <th>
                        {% if foo.status == -2 %}
                            <a href="{{ url_for("worker_main.task_jieyue", tid=foo.id) }}" class="delete"
                            desc="{{ foo.jieyue_desc }} <br>(请优先和主家确认)">
                             确认解约
                            </a>
                        {% endif %}



                    </th>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="translation">
                <div class="">
                    {{ render_pagination(pagination) }}
                </div>
            </div>
        </div>

</div>


{% endblock %}