{% extends "layout.html" %}
{% block title%}
123
{% endblock%}
{% block header %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">

{% endblock %}


{% block content %}
    <div class="mid-class">
	 <div class="art-right-w3ls">
		<h2>Sign In and Sign Up</h2>
		<form action="#" method="post" id="login_form">
		   <div class="main">
			  <div class="form-left-to-w3l">
				 <input type="text" name="mobile" placeholder="Username" required="">
			  </div>
			  <div class="form-left-to-w3l ">
				 <input type="password" name="password" placeholder="Password" required="">
				 <div class="clear"></div>
			  </div>
		   </div>
		   <div class="left-side-forget">
			  <input type="checkbox" class="checked" name="remenber_me">
			  <span class="remenber-me">Remember me </span>
		   </div>
		   <div class="right-side-forget">
			  <a href="#" class="for">Forgot password...?</a>
		   </div>
		   <div class="clear"></div>
		   <div class="btnn">
			  <button type="submit" id="submit">Sign In</button>
		   </div>
		</form>
		<div class="w3layouts_more-buttn">
		   <h3>Don't Have an account..?
			  <a href="#content1">Sign Up Here
			  </a>
		   </h3>
		</div>
		<!-- popup-->
		<div id="content1" class="popup-effect">
		   <div class="popup">
			  <!--login form-->
			  <div class="letter-w3ls">
				 <form action="#" method="post">
					<div class="form-left-to-w3l">
					   <input type="text" name="name" placeholder="Username" required="">
					</div>
					<div class="form-left-to-w3l">
					   <input type="text" name="name" placeholder="Phone" required="">
					</div>
					<div class="form-left-to-w3l">
					   <input type="email" name="email" placeholder="Email" required="">
					</div>
					<div class="form-left-to-w3l">
					   <input type="password" name="password" placeholder="Password" required="">
					</div>
					<div class="form-left-to-w3l margin-zero">
					   <input type="password" name="password" placeholder="Confirm Password" required="">
					</div>
					<div class="btnn">
					   <button type="submit">Sign Up</button>
					   <br>
					</div>
				 </form>
				 <div class="clear"></div>
			  </div>
			  <!--//login form-->
			  <a class="close" href="#">&times;</a>
		   </div>
		</div>
		<!-- //popup -->
	 </div>
	 <div class="art-left-w3ls">
		<h1 class="header-w3ls">
		   Gaze sign up & login Form
		</h1>
	 </div>
  </div>
{% endblock %}


{% block script%}
<script>
$('#submit').click(function (event) {
    event.stopPropagation();
    event.preventDefault();
    let form_data = $("#login_form").serializeArray();
    let data = {};
    $.each(form_data, function (index, arrayData) {
        if (data[arrayData.name] !== undefined && data[arrayData.name].constructor === Array) {

            data[arrayData.name].push(arrayData.value)
        } else if (data[arrayData.name] !== undefined) {
            data[arrayData.name] = [data[arrayData.name]];
            data[arrayData.name].push(arrayData.value)
        } else {
            data[arrayData.name] = (arrayData.value)
        }
    });
    $.post({
        url:'',
        data:data,
        success:function (data) {
            return data
        }
    }).then(function (data) {
        if(data.code === 200){
            window.location.href = data.data.url
        }else {
            layer.msg(data.message)
        }
    })
})

</script>
<script>
 addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
</script>
{% endblock%}