{% extends "bootstrap/base.html" %}
{% block title%}
123
{% endblock%}
{% block head %}
    {{ super() }}
{% endblock %}

{% block script%}
<script>
    function f() {

    }
</script>
{% endblock%}
{% block content %}


<form action="" method="post">
    <label>
        姓名:
        <input type="text" name="username">
    </label>
    <label>
        性别:
        <input type="text" name="sex">
    </label>
    <label>
        电话:
        <input type="text" name="mobile">
    </label>
    <button>提交</button>
</form>
{% endblock %}
